@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.mission {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 5rem 0 8rem 0;
  &__container {
    width: 100%;
    height: 100%;
    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
      margin-top: 4rem;
    }
  }
  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      font-size: 28px;
      font-family: typography.$typography50;
      text-align: center;
      margin-bottom: 1.5rem;
      text-align: center;
      color: #45b7e1;
      position: relative;
      @include breakpoints.xl-large {
        font-size: 24px;
      }
      @include breakpoints.medium {
        max-width: 10rem;
      }
      & > span {
        text-transform: uppercase;
        color: colors.$primary;
      }
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        margin-left: -100px;
        width: 60px;
        height: 50px;
        background: url("/img/mission/paws.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      &::after {
        content: "";
        position: absolute;
        top: -10px;
        margin-left: 40px;
        width: 60px;
        height: 50px;
        background: url("/img/mission/paws.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: rotate(270deg);
      }
    }
    & h3 {
      font-size: 20px;
      font-family: typography.$typography50;
      text-align: center;
      color: #45b7e1;
    }
    & p {
      margin: 1rem auto 0 auto;
      font-size: 18px;
      max-width: 60rem;
      font-family: typography.$typography20;
      line-height: 28px;
      text-align: justify;
      @include breakpoints.xl-large {
        font-size: 14px;
        line-height: 22px;
      }
    }
    &Images {
      margin-top: 4.5rem;
      @include utilities.renian-flexbox-param(flex, auto, center);
      width: 100%;
      gap: 1rem;
      @include breakpoints.xl-large {
        margin-top: 3rem;
      }
      @include breakpoints.medium {
        flex-direction: column;
        gap: 3.5rem;
      }
      & h4 {
        min-height: 6rem;
        font-size: 18px;
        color: colors.$primary;
        font-family: typography.$typography50;
        text-align: center;
        @include breakpoints.xl-large {
          font-size: 18px;
        }
        @include breakpoints.medium {
          font-size: 17px;
          min-height: auto;
        }
      }
      & > div {
        width: 100%;
        max-width: 60rem;
        @include breakpoints.xl-large {
          max-width: 50rem;
        }
        @include breakpoints.medium {
          margin: 0 auto;
        }
        & > div {
          margin-top: 2.5rem;
        }
        & img {
          // margin-top: 4rem;
        }
      }

      // &Chip {
      //   border: 1px solid red;
      // }
    }
    &Tecnologies {
      margin: 4rem auto 3rem auto;
      place-items: center;
      @include utilities.renian-grid-param(grid, 1fr 1fr 1fr, auto, 2rem);
      row-gap: 2rem;
      max-width: 1000px;
      @include breakpoints.large {
        @include utilities.renian-grid-param(grid, 1fr 1fr, auto, auto);
      }
      @include breakpoints.medium {
        @include utilities.renian-grid-param(grid, 1fr, auto, auto);
      }
      & > div {
        padding: 2.8rem;
        border-radius: 22px;
        width: 300px;
        height: 258px;
        box-shadow: 0px 4px 14px -5px #00000096;
        transition: all 0.3s ease-in-out;
        perspective: 1000px;
        background-color: transparent;
        position: relative;
        & > div {
          width: 300px;
          height: 258px;
          text-align: center;
          transition: transform 0.8s;
          transform-style: preserve-3d;
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          & div {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            // firefox
            -moz-backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 22px;
          }

          & div:nth-child(1) {
            color: black;
          }
          & div:nth-child(2) {
            width: 100%;
            height: 100%;
            color: black;
            transform: rotateY(180deg);
            text-align: center;
            // overflo text
            padding: 0 1rem;
            & > h3 {
              font-size: 18px;
              font-family: typography.$typography50;
              text-align: center;
              color: #45b7e1;
            }
            & > p {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 7;
              -webkit-box-orient: vertical;
              font-size: 12px;
            }
          }

          // hover flip effect

          // &:hover {
          //   cursor: pointer;
          //   transform: rotateY(180deg);
          // }

          // div:nth-child(1):hover ~ div:nth-child(2) {
          //   cursor: pointer;
          //   transform: rotateY(180deg);
          // }
        }
      }
    }
  }
}

.frametop {
  width: 100%;
  height: 8rem;
  position: relative;
  top: -2%;
  z-index: 1;
  background: url("/img/color-frame.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.framebottom {
  width: 100%;
  height: 8rem;
  position: absolute;
  bottom: -2%;
  z-index: 1;
  background: url("/img/color-frame.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
}

.flipped {
  transform: rotateY(180deg);
}
