@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/typography" as typography;
@use "/src/styles/base/positions" as positions;

.about_partners {
  position: relative;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__slider {
    margin-top: 80px;
    width: 100%;
    min-height: 3.5rem;
    overflow: hidden;
    // margin: 0 auto;
    @include breakpoints.medium {
      margin-top: 0.6rem;
    }
    & > div {
      list-style: none;
      height: 100%;
      @include utilities.renian-flexbox-param(flex, auto, auto);
      gap: 0.5rem;
      animation: marquee 30s linear infinite alternate;
      @keyframes marquee {
        0% {
          transform: translateX(40vw);
        }
        100% {
          transform: translateX(-60vw);
        }
      }
      & > div {
        width: 20vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-shrink: 0;
        font-size: 30px;
        white-space: nowrap;
        font-size: 30px;
        & > div {
          width: 100%;
          max-width: 7rem;
          margin: 0 auto;
          filter: saturate(0.2);
          transition: 0.4s;
          object-fit: contain;
          aspect-ratio: 16/9;
          & > img {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          &:hover {
            filter: saturate(1);
          }
          @include breakpoints.medium {
            max-width: 3rem;
          }
        }
      }
    }
  }
  & > h2 {
    font-size: 28px;
    font-family: typography.$typography50;
    text-align: center;
    text-align: center;
    color: #45b7e1;
    position: relative;
    padding-bottom: 20px;
    margin-top: 50px;
    @include breakpoints.xl-large {
      font-size: 24px;
    }
    @include breakpoints.medium {
      max-width: 10rem;
    }
    &::before {
      content: "";
      position: absolute;
      top: -10px;
      margin-left: -100px;
      width: 60px;
      height: 50px;
      background: url("/img/mission/paws.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &::after {
      content: "";
      position: absolute;
      top: -10px;
      margin-left: 40px;
      width: 60px;
      height: 50px;
      background: url("/img/mission/paws.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transform: rotate(270deg);
    }
  }
}
.frametop {
  width: 100%;
  height: 6rem;
  position: absolute;
  top: -1%;
  z-index: 1;
  background: url("/img/main-frame.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
